<a href="https://colab.research.google.com/github/hcarrusca/diabetic_patient_trend/blob/main/Residence_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder

In [ ]:
# Load the CSV
df = pd.read_csv('diabetic_data.csv')

# Preview data
print("Shape:", df.shape)
df.head()

Shape: (101766, 50)

,encounter_id,patient_nbr,race,gender,age,weight,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,...,citoglipton,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,diabetesMed,readmitted
0,2278392,8222157,Caucasian,Female,[0-10),?,6,25,1,1,...,No,No,No,No,No,No,No,No,No,NO
1,149190,55629189,Caucasian,Female,[10-20),?,1,1,7,3,...,No,Up,No,No,No,No,No,Ch,Yes,>30
2,64410,86047875,AfricanAmerican,Female,[20-30),?,1,1,7,2,...,No,No,No,No,No,No,No,No,Yes,NO
3,500364,82442376,Caucasian,Male,[30-40),?,1,1,7,2,...,No,Up,No,No,No,No,No,Ch,Yes,NO
4,16680,42519267,Caucasian,Male,[40-50),?,1,1,7,1,...,No,Steady,No,No,No,No,No,Ch,Yes,NO

In [ ]:
# Count of missing or unknown values
df.replace('?', pd.NA, inplace=True)
df.replace('Unknown/Invalid', pd.NA, inplace=True)
df.replace(' ', pd.NA, inplace=True)

missing_values = df.isna().sum()
missing_values[missing_values > 0]

race                  2273
gender                   3
weight               98569
payer_code           40256
medical_specialty    49949
diag_1                  21
diag_2                 358
diag_3                1423
max_glu_serum        96420
A1Cresult            84748
dtype: int64

In [ ]:
# Drop columns with too many unknowns
df_cleaned = df.drop(columns=['weight', 'payer_code', 'medical_specialty','max_glu_serum','A1Cresult'], errors='ignore')

df_cleaned.head()

,encounter_id,patient_nbr,race,gender,age,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,num_lab_procedures,...,citoglipton,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,diabetesMed,readmitted
0,2278392,8222157,Caucasian,Female,[0-10),6,25,1,1,41,...,No,No,No,No,No,No,No,No,No,NO
1,149190,55629189,Caucasian,Female,[10-20),1,1,7,3,59,...,No,Up,No,No,No,No,No,Ch,Yes,>30
2,64410,86047875,AfricanAmerican,Female,[20-30),1,1,7,2,11,...,No,No,No,No,No,No,No,No,Yes,NO
3,500364,82442376,Caucasian,Male,[30-40),1,1,7,2,44,...,No,Up,No,No,No,No,No,Ch,Yes,NO
4,16680,42519267,Caucasian,Male,[40-50),1,1,7,1,51,...,No,Steady,No,No,No,No,No,Ch,Yes,NO

In [ ]:
# Dropping the rows with missing values on the 'race' field

df_cleaned = df_cleaned.dropna(subset=['race'])
df_cleaned.head()

,encounter_id,patient_nbr,race,gender,age,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,num_lab_procedures,...,citoglipton,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,diabetesMed,readmitted
0,2278392,8222157,Caucasian,Female,[0-10),6,25,1,1,41,...,No,No,No,No,No,No,No,No,No,NO
1,149190,55629189,Caucasian,Female,[10-20),1,1,7,3,59,...,No,Up,No,No,No,No,No,Ch,Yes,>30
2,64410,86047875,AfricanAmerican,Female,[20-30),1,1,7,2,11,...,No,No,No,No,No,No,No,No,Yes,NO
3,500364,82442376,Caucasian,Male,[30-40),1,1,7,2,44,...,No,Up,No,No,No,No,No,Ch,Yes,NO
4,16680,42519267,Caucasian,Male,[40-50),1,1,7,1,51,...,No,Steady,No,No,No,No,No,Ch,Yes,NO

In [ ]:
df_cleaned.shape

(99493, 45)

In [ ]:
# Check data types for each column
df_cleaned.dtypes

for col in df_cleaned.columns:
   print(f"{col}:{df_cleaned[col].dtype}")

encounter_id:int64
patient_nbr:int64
race:object
gender:object
age:object
admission_type_id:int64
discharge_disposition_id:int64
admission_source_id:int64
time_in_hospital:int64
num_lab_procedures:int64
num_procedures:int64
num_medications:int64
number_outpatient:int64
number_emergency:int64
number_inpatient:int64
diag_1:object
diag_2:object
diag_3:object
number_diagnoses:int64
metformin:object
repaglinide:object
nateglinide:object
chlorpropamide:object
glimepiride:object
acetohexamide:object
glipizide:object
glyburide:object
tolbutamide:object
pioglitazone:object
rosiglitazone:object
acarbose:object
miglitol:object
troglitazone:object
tolazamide:object
examide:object
citoglipton:object
insulin:object
glyburide-metformin:object
glipizide-metformin:object
glimepiride-pioglitazone:object
metformin-rosiglitazone:object
metformin-pioglitazone:object
change:object
diabetesMed:object
readmitted:object

encounter_id                 int64
patient_nbr                  int64
race                        object
gender                      object
age                         object
admission_type_id            int64
discharge_disposition_id     int64
admission_source_id          int64
time_in_hospital             int64
num_lab_procedures           int64
num_procedures               int64
num_medications              int64
number_outpatient            int64
number_emergency             int64
number_inpatient             int64
diag_1                      object
diag_2                      object
diag_3                      object
number_diagnoses             int64
metformin                   object
repaglinide                 object
nateglinide                 object
chlorpropamide              object
glimepiride                 object
acetohexamide               object
glipizide                   object
glyburide                   object
tolbutamide                 object
pioglitazone                object
rosiglitazone               object
acarbose                    object
miglitol                    object
troglitazone                object
tolazamide                  object
examide                     object
citoglipton                 object
insulin                     object
glyburide-metformin         object
glipizide-metformin         object
glimepiride-pioglitazone    object
metformin-rosiglitazone     object
metformin-pioglitazone      object
change                      object
diabetesMed                 object
readmitted                  object
dtype: object

In [ ]:
cat_cols = df_cleaned.select_dtypes(include='object').columns

for col in cat_cols:
    print(f"\nUnique values in '{col}':")
    print(df_cleaned[col].unique())

Unique values in 'race':
['Caucasian' 'AfricanAmerican' 'Other' 'Asian' 'Hispanic']

Unique values in 'gender':
['Female' 'Male' <NA>]

Unique values in 'age':
['[0-10)' '[10-20)' '[20-30)' '[30-40)' '[40-50)' '[50-60)' '[60-70)'
 '[70-80)' '[80-90)' '[90-100)']

Unique values in 'diag_1':
['250.83' '276' '648' '8' '197' '414' '428' '398' '434' '250.7' '157'
 '518' '999' '410' '682' '402' 'V57' '189' '786' '427' '996' '277' '584'
 '462' '473' '411' '174' '486' '998' '511' '432' '626' '295' '196' '250.6'
 '182' '845' '423' '808' '250.4' '722' '403' '250.11' '784' '707' '440'
 '151' '715' '997' '198' '564' '38' '590' '578' '250.32' '433' '569' '185'
 '536' '255' '250.13' '599' '558' '574' '491' '560' '244' '250.03' '577'
 '730' '188' '824' '250.8' '332' '562' '291' '296' '510' '401' '263' '438'
 '70' '250.02' '493' '642' '571' '738' '593' '618' '250.42' '807' '456'
 '446' '572' '575' '250.41' '820' '515' '780' '250.22' '995' '235'
 '250.82' '721' '787' '556' '162' '724' '282' '514' 'V55' '281' '250.33'
 '530' '466' '435' '250.12' 'V53' '789' '566' '822' '191' '557' '733'
 '455' '711' '482' '202' '280' '553' '154' '441' '250.81' '349' <NA> '962'
 '592' '507' '386' '156' '200' '728' '459' '426' '607' '337' '82' '531'
 '812' '225' '596' '288' 'V58' '656' '573' '492' '220' '516' '210' '922'
 '286' '885' '958' '661' '969' '250.93' '227' '112' '404' '823' '532'
 '416' '346' '535' '453' '250' '595' '211' '303' '250.01' '852' '218'
 '540' '457' '285' '431' '340' '550' '351' '601' '723' '555' '153' '443'
 '380' '204' '424' '241' '358' '694' '331' '345' '681' '447' '290' '158'
 '579' '436' '335' '309' '654' '805' '799' '292' '183' '78' '851' '458'
 '586' '311' '54' '892' '305' '293' '415' '591' '794' '803' '79' '429'
 '278' '658' '598' '729' '585' '444' '604' '727' '214' '552' '284' '680'
 '708' '41' '644' '481' '821' '413' '437' '968' '756' '632' '782' '359'
 '275' '512' '781' '420' '368' '522' '737' '294' '825' '135' '304' '320'
 '250.31' '669' '868' '496' '250.43' '826' '567' '3' '203' '53' '251'
 '565' '495' '49' '250.1' '297' '663' '576' '355' '850' '287' '250.2'
 '611' '348' '840' '350' '726' '537' '620' '180' '366' '783' '11' '751'
 '716' '250.3' '199' '464' '580' '836' '664' '283' '966' '289' '965' '184'
 '480' '608' '333' '972' '212' '117' '788' '625' '924' '959' '621' '238'
 '785' '714' '942' '250.23' '710' '47' '933' '508' '478' '844' '7' '233'
 '42' '250.5' '397' '395' '201' '421' '253' '250.92' '600' '494' '977'
 '39' '659' '312' '614' '647' '652' '646' '274' '861' '425' '527' '451'
 '485' '217' '250.53' '442' '970' '193' '160' '322' '581' '475' '623'
 '374' '582' '568' '465' '801' '237' '376' '150' '461' '913' '226' '617'
 '987' '641' '298' '790' '336' '362' '228' '513' '383' '746' '353' '911'
 '506' '873' '155' '860' '534' '802' '141' 'V45' '310' '341' '242' '719'
 '736' '239' '533' '616' '519' '301' 'V66' '5' '989' '230' '300' '853'
 '871' '570' '848' '463' '9' '934' '250.21' '361' '594' '810' '643' '430'
 '528' '205' '791' '983' '992' '490' '396' '172' '171' '622' '306' '863'
 '864' '474' '660' '759' '356' '634' '967' '551' '695' '187' '732' '747'
 '323' '308' '370' '252' '152' '846' '164' '365' '718' '48' '266' '720'
 '94' '161' '344' '797' '813' '170' '878' '904' 'V56' '882' '843' '709'
 '973' '454' '686' '939' '487' '229' '991' '483' '357' '692' '796' '693'
 '935' '936' '800' '920' 'V26' '261' '307' '262' '250.9' '831' '145' '388'
 '223' 'V71' '839' '685' 'V54' '655' '35' '34' '179' '964' '136' '324'
 '389' '815' '334' '143' '526' '588' '192' 'V67' '394' '917' '88' '219'
 '325' '501' '792' '717' '994' '990' '793' '207' '637' '195' '373' '847'
 '827' '31' '891' '814' 'V60' '703' '865' '352' '627' '378' '342' '886'
 '369' '745' '705' '816' '541' '986' '610' '633' '640' '753' '173' '835'
 '379' '445' '272' '945' '619' '881' '250.52' '866' '405' '916' '215'
 '893' '75' '928' '906' '897' '725' '867' '115' '734' '521' '674' '470'
 '834' '146' '696' '524' '980' '691' '384' '142' '879' '250.51' '246'
 '208' '448' '955' '653' '149' '245' '735' '883' '854' '952' '838' '194'
 'V43' '163' '216' '147' '354' '27' '477' '318' '880' '921' '890' '377'
 '471' '683' '175' '602' '250.91' '982' '382' '706' '375' '417' '131'
 '347' '385' '870' '148' '862' '61' '817' '914' '360' '684' '314' 'V63'
 '36' '57' '240' '915' '971' '795' '988' '452' '963' '327' '731' '842'
 'V25' '645' '665' '110' '944' '603' '923' '412' '363' '957' '976' '698'
 '299' '700' '273' '974' '97' '529' '66' '98' '605' '941' '806' '84' '271'
 '837' '657' '895' '338' '523' '542' '114' '543' '372' 'V70' 'E909' '583'
 'V07' '422' '615' '279' '500' '919' '875' '236' '381' '804' '704' '23'
 '58' '649' '832' '133' '975' '833' '391' '690' '10' '52' 'V51']

Unique values in 'diag_2':
[<NA> '250.01' '250' '250.43' '157' '411' '492' '427' '198' '403' '288'
 '998' '507' '174' '425' '401' '715' '496' '428' '585' '250.02' '410'
 '999' '996' '135' '244' '41' '571' '276' '997' '599' '424' '491' '553'
 '707' '286' '440' '493' '242' '70' 'V45' '250.03' '357' '511' '196' '396'
 '197' '414' '250.52' '577' '535' '413' '53' '780' '518' '566' '250.6'
 '867' '285' '486' 'V15' '8' '788' '340' '574' '581' '228' '530' '250.82'
 '786' '294' '567' '785' '512' '305' '250.51' '280' '648' '560' '444' '38'
 'V10' '578' '277' '781' '250.42' '278' '426' '584' '462' '402' '153'
 '272' '733' '34' '881' '203' '250.41' '250.13' '729' '293' '245' '250.12'
 '558' '787' '342' '573' '626' '303' '250.53' '458' '710' '415' 'V42'
 '284' '569' '759' '682' '112' '292' '435' '290' '250.93' '642' '536'
 '398' '319' '711' 'E878' '446' '255' 'V44' '250.7' '300' '562' '162'
 '287' '447' '789' '790' '591' '200' '154' '304' '117' '847' '852'
 '250.83' '250.11' '816' '575' '416' '412' '441' '515' '372' '482' '382'
 '456' 'V65' '572' '283' '78' '250.81' '576' '432' '295' 'V12' '204' '466'
 '721' '434' '590' '271' '813' '368' '227' '783' '250.5' '258' '253' '309'
 '250.91' '519' '333' '250.92' '250.4' '179' '420' '345' '433' '661' '537'
 '205' '722' '405' '437' '784' '714' '211' 'E812' '263' '202' '397'
 '250.23' 'E932' '201' '301' '723' '614' '568' '861' 'V57' '724' '189'
 '297' '453' 'E888' '730' '354' '150' '451' '738' 'E939' '805' 'V43' '155'
 '910' '218' '358' '220' 'E937' '583' '958' '794' '564' '436' '250.22'
 '620' '621' '331' '617' '596' '314' '378' '250.8' '625' '478' '731' '172'
 '404' '681' '470' '279' '281' '531' '443' '799' '337' '311' '719' 'E944'
 '423' 'E870' '465' 'E849' '782' '481' '480' 'V23' '199' '79' '438' '348'
 '42' 'E950' '473' '627' '726' '54' '490' '317' '332' '508' '369' '600'
 '349' '485' '208' '922' '431' '296' 'E934' '753' 'E935' '386' '728' '607'
 'E915' '344' '289' '191' '873' '850' '611' '377' '352' '616' 'V17' '136'
 '455' '933' 'E885' '860' '513' '603' '484' '223' 'V72' '291' '151' 'V58'
 '550' '510' '891' '185' '592' '791' '138' '598' '336' '362' '217' '825'
 '298' '821' 'E880' '343' '429' '716' 'E879' '579' '225' '250.9' 'V49'
 '696' '658' '969' '275' '595' '618' '250.1' '601' '704' '808' 'E890'
 'V18' '920' '380' '570' 'E817' '359' '812' '274' 'V14' '324' '758' 'V66'
 '911' 'E931' 'E924' '593' '792' '727' 'V46' '394' '532' 'V64' '557' '864'
 '718' '459' 'E942' '807' '604' '924' '820' '580' '273' '241' '282' '824'
 'V61' '646' '701' '736' '565' '383' '250.2' 'E947' '452' '872' '905'
 'E930' '921' '131' '389' '421' '705' '494' '752' '623' '9' '299' '959'
 '365' '967' 'E858' '40' '691' '5' '814' '746' '250.31' '556' '680' '745'
 '351' '306' '695' '552' '346' '918' '882' '947' '520' '188' '31' '356'
 '737' 'V08' '322' '182' '517' '974' 'E929' 'V53' '912' '252' '608' '516'
 'E933' '94' '702' '923' '594' '647' '111' '934' '430' '487' '709' '796'
 '156' '977' '915' '756' '840' '341' '259' '693' '725' 'V62' '528' '683'
 '953' '457' '501' 'E900' 'V09' '522' '919' '461' '506' '483' 'E936' '802'
 '335' 'V54' '320' '945' '906' '239' '454' '826' '823' 'E941' '226' '795'
 '684' '844' '250.33' '308' '615' '588' '712' '663' '706' '833' '741'
 '713' '533' 'E884' '233' '586' '214' '555' '717' '755' 'E928' '742' '869'
 '962' '110' 'V11' '543' '373' '870' '913' '152' '810' '965' '907' '908'
 '995' '845' '474' '442' '751' '323' '472' '464' '686' '250.32' '540'
 '251' '811' '652' '659' '851' '422' '815' '325' '463' '992' '692' '521'
 '917' '524' '916' '193' 'E813' '173' '238' '137' '514' '312' '837' '355'
 '622' '475' '500' '754' '261' '801' '868' '307' '968' '381' '11' '250.21'
 '694' '610' '734' 'E814' '310' '130' '246' '892' '846' '634' '75' 'E927'
 'E905' '183' '379' 'E917' '163' 'E868' '495' '747' '989' 'E854' '240'
 '832' '605' '602' '644' 'V16' '35' 'V70' '376' '266' 'E918' '619' '477'
 '656' '46' '883' '171' 'V13' '698' '842' 'E850' '800' '269' '664' 'E887'
 '952' '164' 'E881' '527' '685' '366' '836' '27' 'V63' '793' '232' '990'
 '52' '831' '327' '542' '806' '972' '862' 'E829' 'E919' '944' '448' 'E916'
 '963' '316' '980' '909' '645' '347' 'V85' '374' 'V02' '748' '256' '186'
 '866' '975' '96' '395' '262' '865' 'E819' '654' '994' '318' 'E826' '879'
 '641' '822' '145' '797' '353' 'E938' 'E816' '948' '987' '99' '192'
 '250.3' 'E906' '534' '115' 'E818' 'E980' '360' '338' '529' '871' '750'
 '212' '302' '955' '141' '88' 'V25' '215' '350' 'V50' 'V03' 'E853' 'E968'
 'E882' '140' '703' '991' '893' 'E821' 'V69' '670' '195' 'V55' '388' '268'
 '894' '114' '260' '853' '7' '880' 'V86' '180' 'E945' '523' '863' '649'
 '270' '665' '460' '942' '364' '66' 'E883' '123' '884' 'V60' '843' '927']

Unique values in 'diag_3':
[<NA> '255' 'V27' '403' '250' 'V45' '38' '486' '996' '197' '250.6' '427'
 '627' '414' '416' '582' 'V43' '250.01' '263' '250.42' '276' '482' '401'
 '250.41' '585' '781' '278' '998' '428' '568' '682' '250.02' '305' '707'
 '496' '599' '424' '518' '553' '794' '411' 'V42' '531' '511' '490' '562'
 '250.8' '250.7' '250.52' '784' '491' '581' '420' '724' '730' '789' '131'
 '250.82' '999' '41' '493' '250.03' '753' '786' '529' 'E888' '425' '595'
 '303' '560' '711' '8' '492' '332' '296' '438' '362' '250.4' '654' '244'
 'V70' '737' '625' '681' '250.51' '404' 'V10' '810' '280' '440' '785'
 '569' '272' '997' '250.43' '918' '584' '54' '788' '426' '722' '250.92'
 '196' '461' '535' '787' '891' '284' '458' '648' '780' '182' '285' '593'
 '413' '664' '564' '201' '356' 'V15' '292' '782' '715' '473' '455' '714'
 'E932' '357' '348' '294' '250.23' '459' 'E878' '437' '733' '507' '525'
 '250.53' '397' '572' '805' '453' '331' '736' '402' '591' '576' '465'
 '533' '703' '349' '315' '658' '608' '578' '716' '382' '300' '282' '571'
 '536' '596' '287' '644' 'V11' '558' 'E885' '162' '198' '218' '412' '396'
 'V14' '570' '433' 'E934' '882' '288' '577' '443' '729' '836' '295' '799'
 '281' '304' '153' '410' '616' '250.83' '601' '291' '75' '512' '660'
 '250.5' '598' '337' '574' '653' 'V58' '311' '415' '386' '602' '790' '112'
 '873' '620' '436' '70' '155' '138' '663' '530' '710' '42' '342' '250.91'
 'E884' '515' '307' '704' '728' '731' '583' '238' '441' '293' '573' '532'
 '290' '594' '319' '250.13' '250.12' '519' '346' '380' '135' '642' '698'
 '924' '905' 'E933' '555' '309' 'E879' '286' '565' '752' '580' '446' '444'
 '344' '252' '35' '813' '394' '301' '258' 'V17' '802' '435' '746' 'V12'
 '709' '881' 'E935' '139' '250.81' '718' '365' '202' '334' '185' '398'
 'V44' '517' 'E849' '614' '466' '626' '250.9' '368' '605' '883' '289'
 '478' '617' '429' '442' 'V25' '866' '610' '557' '959' 'E942' '94' '920'
 '345' '313' '379' '79' '516' '586' '821' '600' '242' '373' '592' 'V64'
 '487' '253' '706' 'E947' '117' '340' 'E950' '656' 'E949' '590' 'V09'
 '250.22' '934' '694' '203' '250.93' '995' '726' '923' '958' '275' 'E929'
 '211' 'V18' 'V66' '199' '665' '53' '279' '522' '791' '890' '456' 'E938'
 'E816' '122' '721' 'V65' '136' '480' '423' 'E920' '793' '647' '537' '575'
 '351' '845' '336' '274' '719' '945' '434' '494' '227' '157' '208' '174'
 'V57' '812' '734' '150' 'V23' '447' '692' '228' 'V16' '756' '405' 'E928'
 '552' '389' '240' '454' '792' '366' '907' '270' '310' '266' '387' 'E931'
 '783' '245' '607' '355' 'E930' '705' '372' '369' '611' '283' 'V46' '110'
 '867' 'E956' '251' '250.2' '820' '712' '695' '567' '343' '723' 'V08'
 '273' '623' '807' '823' '618' '451' '495' '701' '34' 'V53' '314' '472'
 'E945' '11' '189' '534' '354' '333' 'V54' '277' '659' 'E939' '708' '452'
 '655' '816' '670' '621' '246' '953' '865' 'E817' '646' '151' '378' '78'
 '298' '840' '641' '521' '745' '619' '912' '506' 'E904' '259' 'E980' '383'
 '204' '696' '566' '727' '47' 'E943' '358' '191' '965' '921' '432' '27'
 'E861' '758' '477' '524' '751' '652' '556' '188' '825' '919' '732' 'E870'
 '908' '951' '962' '685' 'E944' '527' '341' '693' '250.1' 'V49' '860'
 '323' '579' '508' '969' '205' '462' 'E880' '680' '697' '826' '200' '457'
 '717' '738' '742' '735' '235' '308' '528' '725' '241' '824' '464' '260'
 '917' '239' '661' '892' '261' 'E883' '943' '744' 'E936' '796' '318' '967'
 '350' '854' 'E905' '9' '741' 'E941' '170' '643' '317' '759' '909' 'V22'
 '831' '713' '180' '801' '360' '359' '501' '335' '250.11' '306' '811'
 '690' 'V02' '271' '214' '847' '543' 'V63' '906' '842' '686' '445' 'V55'
 '808' '861' 'E852' '220' 'E887' 'E858' '915' '970' '256' '747' '395'
 '243' '815' '481' '5' 'E927' '297' '299' '851' '864' '922' '384' 'E876'
 '225' '158' 'E937' '871' '88' 'E917' 'E812' 'V62' 'E924' '604' '233'
 'E916' '797' 'V72' '172' '421' '852' 'E819' '972' '916' '956' '3' 'E965'
 '173' '193' '154' '347' '862' '250.3' '987' '470' '262' 'E855' '161'
 '115' '179' '910' '312' '17' '460' '265' '66' '163' 'V60' '870' 'E906'
 '514' '944' '844' '417' '152' '183' '991' '216' '385' '164' '935' '510'
 '485' '850' '250.21' 'E919' '872' '377' '195' '588' '431' '597' '933'
 '171' '884' '156' '868' '483' 'E815' '542' 'V61' '853' 'E850' 'E881'
 'E882' 'E822' '192' '754' '327' '523' '500' 'V85' '992' '657' '684' '603'
 'E826' '550' '913' '376' '755' '361' '186' '720' '250.31' '674' '911'
 '374' 'E813' '226' '365.44' 'E818' '146' '955' 'E894' '475' 'V13' '880'
 '930' 'E915' '381' '132' '353' '795' '893' 'V01' 'E853' '863' '540'
 'E828' '430' '800' 'E865' '148' 'E946' '822' '879' '848' 'V86' 'V03'
 '338' '989' '388' '111' '123' '966' '757' 'E901' '141' '268' 'E892' '649'
 '702' '948' '223' '484' 'E886' '838' '928' '236' '624' '837' 'E987' 'V07'
 '841' '622' 'E912' 'E955' 'V06' 'E864' '217' '877' '391' 'E825' '952'
 '814' '7' '669' '875' 'E900' '215' '538' '980' '834' '448' '175' '49'
 '876' '230' '57' 'E854' '942' '14' '750' '370' '671' '971']

Unique values in 'metformin':
['No' 'Steady' 'Up' 'Down']

Unique values in 'repaglinide':
['No' 'Up' 'Steady' 'Down']

Unique values in 'nateglinide':
['No' 'Steady' 'Down' 'Up']

Unique values in 'chlorpropamide':
['No' 'Steady' 'Down' 'Up']

Unique values in 'glimepiride':
['No' 'Steady' 'Down' 'Up']

Unique values in 'acetohexamide':
['No' 'Steady']

Unique values in 'glipizide':
['No' 'Steady' 'Up' 'Down']

Unique values in 'glyburide':
['No' 'Steady' 'Up' 'Down']

Unique values in 'tolbutamide':
['No' 'Steady']

Unique values in 'pioglitazone':
['No' 'Steady' 'Up' 'Down']

Unique values in 'rosiglitazone':
['No' 'Steady' 'Up' 'Down']

Unique values in 'acarbose':
['No' 'Steady' 'Up' 'Down']

Unique values in 'miglitol':
['No' 'Steady' 'Down' 'Up']

Unique values in 'troglitazone':
['No' 'Steady']

Unique values in 'tolazamide':
['No' 'Steady' 'Up']

Unique values in 'examide':
['No']

Unique values in 'citoglipton':
['No']

Unique values in 'insulin':
['No' 'Up' 'Steady' 'Down']

Unique values in 'glyburide-metformin':
['No' 'Steady' 'Down' 'Up']

Unique values in 'glipizide-metformin':
['No' 'Steady']

Unique values in 'glimepiride-pioglitazone':
['No' 'Steady']

Unique values in 'metformin-rosiglitazone':
['No']

Unique values in 'metformin-pioglitazone':
['No' 'Steady']

Unique values in 'change':
['No' 'Ch']

Unique values in 'diabetesMed':
['No' 'Yes']

Unique values in 'readmitted':
['NO' '>30' '<30']

In [ ]:
## Encoding Variables

# Binary or ordinal
df_cleaned['gender'] = df_cleaned['gender'].astype(str)
df_cleaned['gender'] = LabelEncoder().fit_transform(df_cleaned['gender'])

df_cleaned['readmitted'] = df_cleaned['readmitted'].map({'NO': 0, '>30': 1, '<30': 2})
df_cleaned['diabetesMed'] = df_cleaned['diabetesMed'].map({'No': 0, 'Yes': 1})
df_cleaned['change'] = df_cleaned['change'].map({'No': 0, 'Ch': 1})

# Ordinal: age group
age_order = {'[0-10)': 0, '[10-20)': 1, '[20-30)': 2, '[30-40)': 3, '[40-50)': 4,
             '[50-60)': 5, '[60-70)': 6, '[70-80)': 7, '[80-90)': 8, '[90-100)': 9}
df_cleaned['age'] = df_cleaned['age'].map(age_order)

In [ ]:
## One-hot encoding Race

df_cleaned = pd.get_dummies(df_cleaned, columns=['race'], drop_first=True)

In [ ]:
## Encoding medical columns as ordinal variables

med_columns = [
    'metformin', 'repaglinide', 'nateglinide', 'chlorpropamide',
    'glimepiride', 'acetohexamide', 'glipizide', 'glyburide',
    'tolbutamide', 'pioglitazone', 'rosiglitazone', 'acarbose',
    'miglitol', 'troglitazone', 'tolazamide', 'examide', 'citoglipton',
    'insulin', 'glyburide-metformin', 'glipizide-metformin',
    'glimepiride-pioglitazone', 'metformin-rosiglitazone',
    'metformin-pioglitazone'
]

med_mapping = {'No': 0, 'Down': 1, 'Steady': 2, 'Up': 3}

for col in med_columns:
    df_cleaned[col] = df_cleaned[col].map(med_mapping)

In [ ]:
## Categorizing Diagnosis before encoding

for col in ['diag_1', 'diag_2', 'diag_3']:
    df_cleaned[col] = df_cleaned[col].astype(str).str[:3]

def categorize_diag(code):
    try:
        code = float(code)
        if code == 250:
            return 'Diabetes'
        elif 390 <= code <= 459 or code == 785:
            return 'Circulatory'
        elif 460 <= code <= 519 or code == 786:
            return 'Respiratory'
        elif 520 <= code <= 579 or code == 787:
            return 'Digestive'
        elif 800 <= code <= 999:
            return 'Injury'
        elif 290 <= code <= 319:
            return 'Mental Health'
        else:
            return 'Other'
    except:
        return 'Unknown'

for col in ['diag_1', 'diag_2', 'diag_3']:
    df_cleaned[col] = df_cleaned[col].map(categorize_diag)

In [ ]:
## One-hot Encoding Diagnosis Variables

df_cleaned = pd.get_dummies(df_cleaned, columns=['diag_1', 'diag_2', 'diag_3'], drop_first=True)

In [ ]:
df_cleaned.head()

,encounter_id,patient_nbr,gender,age,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,num_lab_procedures,num_procedures,...,diag_2_Other,diag_2_Respiratory,diag_2_Unknown,diag_3_Diabetes,diag_3_Digestive,diag_3_Injury,diag_3_Mental Health,diag_3_Other,diag_3_Respiratory,diag_3_Unknown
0,2278392,8222157,1,0,6,25,1,1,41,0,...,False,False,True,False,False,False,False,False,False,True
1,149190,55629189,1,1,1,1,7,3,59,0,...,False,False,False,False,False,False,False,True,False,False
2,64410,86047875,1,2,1,1,7,2,11,5,...,False,False,False,False,False,False,False,False,False,True
3,500364,82442376,2,3,1,1,7,2,44,1,...,False,False,False,False,False,False,False,False,False,False
4,16680,42519267,2,4,1,1,7,1,51,0,...,True,False,False,True,False,False,False,False,False,False